<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="bg-success text-light py-2 mt-4 border-top">
        <div class="container text-center">
            <small>
                <strong>TODO</strong> |
                <a href="https://github.com/itlazykin/job4j_todo" class="text-light text-decoration-none" target="_blank">
                    <i class="fab fa-github"></i> Denis Lazykin
                </a> |
                <a href="https://job4j.ru" class="text-light text-decoration-none" target="_blank">
                    <i class="fas fa-graduation-cap"></i> Job4j
                </a>
            </small>
        </div>
    </footer>
</div>
